#!/bin/bash
export DH_VERBOSE=1

SELF=proput
VERSION=$(git describe | sed 's/^v//')

echo "13" > debian/compat

dh_testdir

case "$1" in
  clean)
    dh_testroot
    rm -rf build_tmp
    dh_clean
    exit 0
    ;;

  build)
    mkdir build_tmp
    ../../debian/dkms.gen ${SELF} ${VERSION} > build_tmp/dkms.conf
    ;;

  binary)
    dh_testroot
    dh_prep
    dh_installdirs

    DEBPREFIX=debian/${SELF}

    # Install DKMS module
    DKMS_DIR=${DEBPREFIX}/usr/src/${SELF}-${VERSION}
    install -d -m 755 ${DKMS_DIR}
    for f in Makefile proput.h module.h $(sed -rn '/^proput-objs := /{s/.* := //;s/\.o/.c/g;p;}' ../../kernel/Makefile); do
      install -m 644 ../../kernel/$f ${DKMS_DIR}/$f
    done

    dh_dkms build_tmp/dkms.conf

    # Install udev rules
    SHARE_DIR=/usr/share/${SELF}
    install -d -m 755 ${DEBPREFIX}${SHARE_DIR}

    cat > debian/${SELF}.udev <<EOF
SUBSYSTEM=="module", DEVPATH=="/module/${SELF}", ACTION=="add", RUN+="${SHARE_DIR}/udev-add.sh"
SUBSYSTEM=="module", DEVPATH=="/module/${SELF}", ACTION=="remove", RUN+="${SHARE_DIR}/udev-rm.sh"
EOF

    for action in add rm; do
      install -m 744 ../../kernel/${SELF}-udev-${action}.sh debian/${SELF}${SHARE_DIR}/udev-${action}.sh
    done

    dh_installudev

    # Finish the package
    dh_installchangelogs
    dh_installdeb
    dh_gencontrol
    dh_md5sums
    dh_builddeb
    ;;

  *)
    exit 1
    ;;
esac
